{% extends 'index.html' %}

{% block title %}
    Categories
{% endblock title %}

{% block content %}
    <div class="container">
            <div class="container">
              <a href="{% url 'new_category' %}" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"><i class="bi bi-plus"></i> Add Category</a>
            </div>
    <br/>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for category in categories %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ category.nombre }}</td>
                <td>{{ category.descripcion }}</td>
                    <td scope="row">
                        <a href="{% url 'update_category' category.id %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'delete_category' category.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
              </tr>
              {% endfor %}
            </tr>
            </tbody>
          </table>
    </div>
{% endblock content %}