{% extends 'index.html' %}

{% block title %}
    New Product
{% endblock title %}

{% block content %}

<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="mb-3">
            <label for="id_nombre" class="form-label">Nombre:</label>
            <input type="text" name="nombre" class="form-control" required id="id_nombre" placeholder="Product Name">
        </div>
        <div class="mb-3">
            <label for="id_cantidad" class="form-label">Cantidad</label>
            <input type="number" name="cantidad" class="form-control" min="1" required id="id_cantidad" placeholder="0">
        </div>
        <div class="mb-3">
            <label for="id_precio" class="form-label">Precio</label>
            <input step="0.01" type="number" name="precio" class="form-control" min="0.00" required id="id_precio" placeholder="0.00">
        </div>
        <div class="mb-3">
            <label for="id_descripcion" class="form-label">Descripcion</label>
            <textarea class="form-control" name="descripcion" required id="id_descripcion" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="id_imagen" class="form-label">Imagen</label>
            <input class="form-control" type="file" name="imagen" accept="image/*" required id="id_imagen">
          </div>
        <div class="mb-3">
            <label for="id_categoria" class="form-label">Categoria</label>
            <select class="form-select" name="categoria" required id="id_categoria">
                <option selected>-----Categorias-----</option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                {% endfor %}
              </select>
          </div>
        <div class="mb-3">
            <label for="id_proveedor" class="form-label">Proveedor</label>
            <select class="form-select" name="proveedor" required id="id_proveedor">
                <option selected>-----Proveedores-----</option>
                {% for proveedor in proveedores %}
                    <option value="{{ proveedor.id }}">{{ proveedor.nombre }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Ingresar</button>
          </div>
        </form>
    </div>
{% endblock content %}